body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.upperText {
  text-transform: uppercase;
  color: #dddddd;
}

.hex-code {
  text-align: center;
  font-size: 50px;
  color: #444444;
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: center;
}
